---
---

@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

html {
  font-family: 'Montserrat', sans-serif;
}

.page-header {
  background-image: linear-gradient(120deg, lightblue, blue);
}

h1, h2, h3, h4, h5, h6 {
  color: darkblue;
}
